@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
  
}

html {
  scroll-behavior: smooth;
}

a.active {
  color: #ff6467;
  
}

/* .card{
  clip-path : path('M 10,20 L 60,20 A 10,10 0,0,0 70,10 L 70,10 A 10,10 0,0,1 80,0 L 140,0 A 10,10 0,0,1 150,10 L 150,190 A 10,10 0,0,1 140,200 L 10,200 A 10,10 0,0,1 0,190 L 0,30 A 10,10 0,0,1 10,20 Z')
} */

@theme{
  --animate-wiggle :wiggle 0.5s ease-in-out infinite;
  ----animate-block:block 5s linear;
  @keyframes wiggle{
    0%{
      transform: rotate(-5deg);
    }
    50%{
      transform: rotate(5deg);
    }
    100%{
      transform: rotate(-5deg);
    }
  }
  @keyframes block{
  from{
    opacity:0;
    sacle:0.5;
  }
  to{
    opacity:1;
    sacle:1;
  }
}
}

